th#comment {
	width: 40%;
}

#save_feedback {
	display: inline-block;
}
#save_feedback div {
	float: left;
	display: inline-block;
}
#save_feedback div:first-child {
	margin-right: 30px;
}
#save_feedback label {
	font-weight: bold; 
	margin-left: 3px;
}
#save_feedback label, #save_feedback input, #save_feedback textarea {
	display: inline-block;
	float: left;
	clear: both;
	margin-bottom: 5px;
}
#save_feedback textarea {
	width: 100%;
	height: 200px;
	padding: 9px;
}

#feedback_box > div.handlediv, #feedback_box > h3 {
	display: none;
}
#feedback_box {
	box-shadow: 0 !important;
	background: transparent;
	border: none;
	box-shadow: none;
}
#feedback_box > div.inside {
	margin: 0px;
	padding: 0px;
}
#save_feedback .comment {
	clear: both;
	width: 100%;
	margin-top: 20px;
}